.game-instructions {
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
}


#random-word,
#word-length {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;

    margin-top: 3rem;
}

#random-word {
    letter-spacing: 6rem;
}

#game-buttons {
    text-align: center;
    display: flex;
    margin-top: 3rem;
}

#exit-game {
    margin-right: 2rem;
}