.game-instructions {
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
}


#word-length, #incorrect-letters {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;

    margin-top: 3rem;
}


input[type=text] {
    border-bottom: 2px solid black;
}



#game-buttons {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally. */
    align-items: center;  /* In case necessary, it spaces the buttons vertically. */
    margin-top: 4rem;
}

#game-buttons button {
    margin: 0 2rem; /* Spacing between the buttons. */
}